@{ 
    ViewBag.Title = "Home";
}
    <br />
<div class="ui container" >
    <div class="ui grid stackable">
        <div class="ui row">
            <div class="ui ten wide column">
                <div class="content centered aligned page">
                    <h2 class="ui center aligned page">Personal</h2>
                </div>
                <table class="ui inverted grey table">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Numero de telefono</th>
                            <th>Editar</th>
                            <th>Eliminar</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Apples</td>
                            <td>200</td>
                            <td>0g</td>
                            <td>0g</td>
                            <td>
                                <form>
                                    <button class="small ui primary inverted button">
                                        <i class="edit icon">
                                        </i>
                                        Editar
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form>                                    
                                    <button class="tiny ui red inverted button">
                                        <i class="trash alternate icon">
                                        </i>
                                        Eliminar
                                    </button>                                    
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>Orange</td>
                            <td>310</td>
                            <td>0g</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui six wide column">
                <div class="content centered aligned page">
                    <h2 class="ui center aligned page">Crear Personal</h2>
                </div>
                <form action="/" method="post">
                    <div class="ui inverted grey segment">
                        <div class="ui inverted form">
                            <div class="field">
                                <label>Documento</label>
                                <input type="number" name="name" value="" />
                            </div>
                            <div class="field">
                                <label>Nombre</label>
                                <input type="text" name="name" value="" />
                            </div>
                            <div class="field">
                                <label>Apellido</label>
                                <input type="text" name="name" value="" />
                            </div>
                            <div class="field">
                                <label>Telefono</label>
                                <input type="number" name="name" value="" />
                            </div>
                            <button class="small ui inverted green button">
                                <i class="save icon"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    